.volumes {
	color: #00CCFF;
	font-weight: 800;	
}

.publisher {
	color: #00CCFF;
	font-weight: 800;
}
.top-img{
	max-width: 100%;
}

.title{
  background: #c2edff;
  padding: 0.5em;
  border-radius: 10px 10px 0px 0px;
}

.show_image{
	max-width: 100%;
	margin: 0 auto;
  padding-bottom: 20px;
}
.background{
	background-color: #AAAAAA;
}

.center {
	margin: 0 auto;
}

.fixed_btn {
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 6px 40px;
  width: 200px;
  background-color: red;
}

.book_title_css{
	font-weight: 800;
	font-size: 1.0em;
}

.box{
	width: 80%;
	margin: auto;	
}


.back_button {
  /*周りの凹み*/
  display: inline-block;
  /*position: relative;*/
  position: fixed;
  bottom : 20px;
  right: 20px;
  text-decoration: none;
  color: rgba(3, 169, 244, 0.54);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.back_button i {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  line-height: 80px;
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
  
.back_button .fa:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}


.return_button {
  width: 100px;
  height: 50px;
  font-size: 1.4em;
  text-align: center;
  margin: auto 0 ;
  position: fixed;
  bottom : 20px;
  left: 100px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  background: #00BCD4;/*背景色*/
  color: #00BCD4;/*=背景色*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  border-bottom: solid 2px #118e9e;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.return_button:active {
  /*押したとき*/
  border-bottom: solid 2px #00BCD4;
  box-shadow: none;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}


.header_main{
  height: 100px;
  background-color:#CCFFFF ;
  margin-bottom: 30px;
  text-align: center;
}

.header_title{
  display: inline-block;
    /*display: table-cell;*/
  vertical-align: middle;
  font-size: 1.9em;
  font-weight: 800;
  text-align: center;
  margin: auto 0;
}

.comic_outer_box{
  margin-bottom: 10px;
}


/*以下showの部分*/

.book_title_show{
  font-family: Meiryo, 'Hiragino Maru Gothic ProN', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  color: grey;
  margin-bottom: 30px;
}

.show-img{
  max-width: 100%;
}

.btn-comic{
  color: white;
  background-color: #FF8C00;
}

.btn-primary {
  color: white;
  background-color: #FF8C00;
}


.book_author_show{

}

.book_description_show{
  box-shadow: 0 0 5px #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin-top: 30px;
}
.book_publisher_show{

}