.back_button {
  display: inline-block;
  position: fixed;
  bottom : 10px;
  right: 10px;
  text-decoration: none;
  color: rgba(3, 169, 244, 0.54);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.back_button i {
  position: absolute;
  content: '';
  width: 90px;
  height: 90px;
  line-height: 90px;
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
  
.back_button .fa:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}

.center {
  margin: auto 0;

}

.show_image{
  max-width: 100%;
}


.return_color{
  color: white;
}

.return_button {
  position: fixed;
  bottom : 20px;
  left: 10px;
  width: 80px;
  height: 50px;
  font-size: 1.4em;
  text-align: center;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  background: #00BCD4;/*背景色*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  border-bottom: solid 2px #118e9e;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.return_button:active {
  /*押したとき*/
  border-bottom: solid 2px #00BCD4;
  box-shadow: none;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}


.volumes{
  color: #00CCFF;
  font-weight: 800; 
  font-size: 1.5em;
}

.top-img{
  max-width: 100%;
}

.header_main{
  height: 80px;
  background-color:#CCFFFF ;
  margin-bottom: 30px;
  text-align: center;
}

.header_title{
  display: inline-block;
  padding-top: 10px;
  vertical-align: middle;
  font-size: 1.9em;
  font-weight: 800;
  text-align: center;
  margin: auto 0;
}

.comic_outer_box{
  margin: 3px;
  padding-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.22);
}


.show-img{
  max-width: 100%;
}

.book_title_show{
  font-family: Meiryo, 'Hiragino Maru Gothic ProN', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  color: grey;
}

.show-img{
  max-width: 100%;
}

.btn-comic{
  color: white;
  background-color: #FF8C00;
}

.btn-primary {
  color: white;
  background-color: #FF8C00;
}


.book_author_show{

}

.book_description_show{
  box-shadow: 0 0 5px #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin-top: 3px;
}
.book_publisher_show{

}

.book_title_css{
  font-weight: 800;
  font-size: 1.5em;
}

.title{
  background: #c2edff;
  text-align: center;
  padding: 0.5em;
  border-radius: 10px 10px 0px 0px;
}

